body {
    background: url("images/backround2.jpeg") no-repeat center center fixed;
    background-size: cover;
    color: white;
    font-family: 'DM Sans';
}

.head-shot {
    width: 320px;
    height: 240px;
    border-radius: 100%;
}

.header-container {
    display: flex;
    justify-content: space-evenly;
    width: 800px;
}

header{
    background-color: #E1C16E;
    display: flex;
    justify-content: center;
}

.bio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.paragraph-box{
    width: 500px
}